<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <form>
        <h2>Регистрация</h2>
        <label for="name">Имя:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
